<!-- templates/prescription_lifecycle_app/prescription/detail.html -->

{% extends 'prescription_lifecycle_app/base.html' %}
{% block title %}Prescription Details{% endblock %}
{% block content %}
<h1>Prescription #{{ object.id }}</h1>
<ul>
	<li>Patient: {{ object.patient }}</li>
	<li>Prescriber: {{ object.prescriber }}</li>
	<li>Medication: {{ object.medication }}</li>
	<li>Pharmacy: {{ object.pharmacy }}</li>
	<li>Exemption: {{ object.get_medical_exemption_type_display }}</li>
	<li>Status: {{ object.get_status_display }}</li>
	<li>Created: {{ object.created_at }}</li>
	<li>Updated: {{ object.updated_at }}</li>
</ul>
<a href="{% url 'prescription_lifecycle_app:prescription-update' object.pk %}">Edit</a> |
<a href="{% url 'prescription_lifecycle_app:prescription-list' %}">Back to list</a>
{% endblock %}