<!-- templates/prescription_lifecycle_app/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}App{% endblock %}</title>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css"
	>
	<style>
		body {
			font-family: sans-serif;
			padding: 20px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid #ccc;
			padding: 8px;
			text-align: left;
		}
	</style>
</head>
<body>
	<nav>
		<a href="{% url 'prescription_lifecycle_app:user-list' %}">Users</a>
		<a href="{% url 'prescription_lifecycle_app:facility-list' %}">Facility</a>
		<a href="{% url 'prescription_lifecycle_app:medication-list' %}">Medications</a>
		<a href="{% url 'prescription_lifecycle_app:prescription-list' %}">Prescriptions</a>
		<a href="{% url 'prescription_lifecycle_app:appointment-list' %}">Appointments</a>
	</nav>
	<hr>
	{% block content %}{% endblock %}
</body>
</html>