<!-- templates/prescription_manager_app/prescription/detail.html -->

{% extends 'prescription_manager_app/base.html' %}
{% block title %}Prescription Details{% endblock %}
{% block content %}
<h1>Prescription #{{ prescription.id }}</h1>
<ul>
	<li>Patient ID: {{ prescription.patient_id }}</li>
	<li>Prescriber ID: {{ prescription.prescriber_id }}</li>
	<li>Medication ID: {{ prescription.medication_id }}</li>
	<li>Pharmacy ID: {{ prescription.pharmacy_id }}</li>
	<li>Exemption: {{ prescription.get_exemption_display }}</li>
	<li>Status: {{ prescription.get_status_display }}</li>
	<li>Created: {{ prescription.created_at }}</li>
	<li>Updated: {{ prescription.updated_at }}</li>
</ul>
<a href="{% url 'prescription_manager_app:prescription-update' prescription.id %}">Edit</a> |
<a href="{% url 'prescription_manager_app:prescription-list' %}">Back to list</a>
{% endblock %}