<!-- templates/prescription_manager_app/prescription/form.html -->

{% extends 'prescription_manager_app/base.html' %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
<h1>{{ form_title }}</h1>
<form method="post">
	{% csrf_token %}
	<p>
		<label for="pharmacy_id">Pharmacy ID</label><br>
		<input
			type="text"
			id="pharmacy_id"
			name="pharmacy_id"
			value="{{ form.pharmacy_id.value }}"
			required
		>
	</p>
	<p>
		<label for="medication_id">Medication ID</label><br>
		<input
			type="text"
			id="medication_id"
			name="medication_id"
			value="{{ form.medication_id.value }}"
			required
		>
	</p>
	<p>
		<label for="prescriber_id">Prescriber ID</label><br>
		<input
			type="text"
			id="prescriber_id"
			name="prescriber_id"
			value="{{ form.prescriber_id.value }}"
		>
	</p>
	<p>
		<label for="patient_id">Patient ID</label><br>
		<input
			type="text"
			id="patient_id"
			name="patient_id"
			value="{{ form.patient_id.value }}"
			required
		>
	</p>
	<p>
		<label for="medical_exemption_type">Exemption</label><br>
		<select
			id="medical_exemption_type"
			name="medical_exemption_type"
			required
		>
			{% for code, label in exemption_choices %}
			{% if code|stringformat:'s' == form.medical_exemption_type.value|stringformat:'s' %}
			<option
				value="{{ code }}"
				selected
			>{{ label }}</option>
			{% endif %}
			{% endfor %}

			{% for code, label in exemption_choices %}
			{% if code|stringformat:'s' != form.medical_exemption_type.value|stringformat:'s' %}
			<option value="{{ code }}">{{ label }}</option>
			{% endif %}
			{% endfor %}
		</select>
	</p>

	<p>
		<label for="status">Status</label><br>
		<select
			id="status"
			name="status"
			required
		>

			{% for code, label in status_choices %}
			{% if code|stringformat:'s' == form.status.value|stringformat:'s' %}
			<option
				value="{{ code }}"
				selected
			>{{ label }}</option>
			{% endif %}
			{% endfor %}

			{% for code, label in status_choices %}
			{% if code|stringformat:'s' != form.status.value|stringformat:'s' %}
			<option value="{{ code }}">{{ label }}</option>
			{% endif %}
			{% endfor %}
		</select>
	</p>

	<button type="submit">{{ submit_label }}</button>
	<a href="{{ list_url }}">Cancel</a>
</form>
{% endblock %}