{% extends "oauth_service/base.html" %}

{% block title %}Login - OAuth Service{% endblock %}

{% block content %}
<h1>Login to Your Account</h1>

<form method="post" action="{% url 'oauth_service:login-user' %}">
    {% csrf_token %}

    {# Render non-field errors #}
    {% if form.non_field_errors %}
        <div style="color: red;">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <div style="color: red;">{{ form.username.errors }}</div>
        {% endif %}
    </div>

    <div>
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.password.errors %}
            <div style="color: red;">{{ form.password.errors }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn-primary">Login</button>
</form>

<div class="footer-link">
    <p>Don't have an account? <a href="{% url 'oauth_service:register-user' %}">Register here</a>.</p>
</div>
{% endblock %}
