<!-- templates/prescription_lifecycle_app/surgery_pharmacy/detail.html -->

{% extends 'prescription_lifecycle_app/base.html' %}
{% block title %}Location Details{% endblock %}
{% block content %}
<h1>{{ object.name }}</h1>
<ul>
	<li>Address: {{ object.address }}</li>
	<li>Type: {{ object.get_type_display }}</li>
	<li>Status: {{ object.get_status_display }}</li>
	<li>Created: {{ object.created_at }}</li>
	<li>Updated: {{ object.updated_at }}</li>
</ul>
<a href="{% url 'prescription_lifecycle_app:location-update' object.pk %}">Edit</a> |
<a href="{% url 'prescription_lifecycle_app:location-list' %}">Back to list</a>
{% endblock %}